<div class="min-h-screen bg-neutral-100 text-white">
  <section class="max-w-screen-xl mx-auto p-8">
    <!-- <div class="mb-6 text-center">
      <h1 class="text-white font-bold text-2xl">Lista de usuarios</h1>
    </div> -->
    <!-- Grid de usuarios -->
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-content-center mt-5">
      @for (user of arrUsers; track user.id) {
          <app-user-card [user]="user" />
      }
    </div>
    <!-- Botones de paginación -->
    <div class="flex justify-between mt-10">
      <button
      type="button"
      (click)="prevPage()"
      class="text-gray-900 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-400 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 cursor-pointer"
      >
      <lucide-icon [name]="icons.ArrowLeft" size="20"></lucide-icon>
      <span class="sr-only">Anterior</span>
      </button>
      <button
      type="button"
      (click)="nextPage()"
      class="text-gray-900 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-400 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 cursor-pointer"
      >
      <lucide-icon [name]="icons.ArrowRight" size="20" ></lucide-icon>
      <span class="sr-only">Siguiente</span>
      </button>
    </div>
  </section>
</div>
